*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(23, 82, 36);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header h2{
    text-align: center;
    padding: 10px;
    margin: 12px;
    background-color: pink;
    color: red;
    border-radius: 50%;
}
header p{
    padding-left: 20px;
    color:hotpink;
    margin-top: 10px;
}
figure img{
    padding:0 20px;
}
figcaption{
    padding-left: 20px;
    padding-bottom: 30px;
}
section h2,p{
    padding-left: 20px;
    padding-bottom: 12px;
}
