nev ul{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap:20px;
}
nev li{
    list-style: none;
    padding-left: 20px;
}
nev ul li a{
    font-size: 2rem;
    color: white;
    background-color: blueviolet;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 30px;
    text-decoration: none;
}